@import "tailwindcss";

@theme {
  --color-militar-dark: #0f172a;
  --color-militar-card: #1e293b;
  --color-militar-accent: #3b82f6;
  --color-militar-text: #f8fafc;
}

/* Forçamos o suporte ao Dark Mode via classe */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
}
@layer utilities {
  .sisha-scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .sisha-scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
